@charset "UTF-8";

/* join-modal */
.modal-background{
    /* 로그인 실패시 백그라운드 색상 변경 */
    position: relative;
    position: absolute;
    top:0;
    width: 100%;
    height:100%;
    z-index:5;
    background-color: rgba(0,0,0,0.5);
    display: none;
 }

 .modal-container{
    position: relative;
    position: fixed;
    top:35%;
    left:50%;
    transform: translate(-50%, -35%);
    width: 780px;
    background-color: #fff;
    height: 480px;
    display: none;
    flex-direction: column; 
    align-items: center;
    outline:1px solid rgba(0, 0, 0, .2);
    box-sizing:border-box;
    box-shadow: 0 0 5px 3.5px rgba(0, 0, 0, .5);
    
}

.modal-header{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 20px;
    padding-right: 15px;
    width: 80%;
}
.modal-header > h5{
    font-size: 26px;
    margin: 0;
}
#confirm-btn{
    cursor: pointer;
}

.modal-header > span{
    font-size: 1.5rem;
}

.modal-body{
    margin-top: 20px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.modal-body > table{
    border-top: 1px solid black;
    padding-top: 30px;
    width: 100%;
}

.modal-table-th, .modal-table-td{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.modal-table-td{
   padding-left: 30px; 
}

.modal-table-th{
    background-color: #F7F7F7;
} 

.icon-image{
    width: 25px;
    height: 25px;
}
.modal-footer{
    margin-top: 10px;
    display: flex;
    width: 100%;
   
}
.modal-footer-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.modal-footer-icon{
    display: flex;
    align-items: center;
}
.modal-footer-icon > i{
    margin-left: 5px;
}
.modal-footer-span{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
}

.modal-footer-span > a{
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.product-remove{
    cursor: pointer;
}

/* join-modal */
.join-background{
    /* 로그인 실패시 백그라운드 색상 변경 */
    position: relative;
    position: absolute;
    top:0;
    width: 100%;
    height:100%;
    z-index:5;
    background-color: rgba(0,0,0,0.5);
    display: none;
 }
 .join-modal{
    position: relative;
    position: fixed;
    top:35%;
    left:50%;
    transform: translate(-50%, -35%);
    width: 450px;
    background-color: #fff;
    height: 230px;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    outline:1px solid rgba(0, 0, 0, .2);
    box-sizing:border-box;
    box-shadow: 0 0 5px 3.5px rgba(0, 0, 0, .5);
 }
 .join-modal>span:nth-child(1){
    /* x 버튼 */
    font-size:2rem;
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
 }
 .join-modal>span:nth-child(2){
    /* 모달창 text */
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-size: 1.1rem;
    font-weight: 600px;
 }
 .join-modal>span:nth-child(2)>div:nth-child(1){
    margin-bottom:10px;
 }

.remove-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-top: 70px;
    align-items: center;
}
.remove-div div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.remove-btn-a{
    border: 1px solid black;
    width: 50%;
    height: 100%;
    background-color: #1c1c1c;
    text-align: center;
    cursor: pointer;
    
}
.remove-btn-a > a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.remove-div > #confirm-btn{
    width: 50%;
    height: 100%;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    text-align: center;
}






