@charset "UTF-8";


.id-check, .pwd-check{
	margin-top: 7px;
}
.success, .fail{
	font-size: 15px;
}
.success{
	color:green;
}
.fail{
	color:red;
}

/* 유저 정보창 */
.user-info{
	position: fixed;
	right: 30px;
	top : 130px;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid #A9A9A9;
	border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	color:#A9A9A9;
}
.user-info>div:not(:last-child){
	margin-bottom: 7px;
}
.user-info>div>span{
	margin-right: 7px; 
}



/* user-list */
.list-container{
	padding-top: 12rem;
	padding-bottom: 20rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.list-container>div:first-child{
	width: 100%;
	margin-bottom: 1.5rem;
}
.table-box{
	padding: 0 1.5rem;
	width: 1700px;
	min-width: 1700px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	border: 1px solid #1c1c1c;
	border-radius: 5px;
	margin-bottom: 1.3rem;
}
.table-box>div:not(:last-child){
	border-bottom: 1px solid #1c1c1c;
}
.table-box>div{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 3rem;
}
.table-box>div>span{
	text-align: center;
	color: #1c1c1c;
	font-weight: 600;
	overflow: scroll;
}
.table-box>div>span::-webkit-scrollbar{
	display: none;
}
.table-box>div>span:nth-child(1){
	width: 250px;
}
.table-box>div>span:nth-child(2){
	width: 100px;
}
.table-box>div>span:nth-child(3){
	width: 150px;
}
.table-box>div>span:nth-child(4){
	width: 150px;
}
.table-box>div>span:nth-child(5){
	width: 70px;
}
.table-box>div>span:nth-child(6){
	width: 250px;
}
.table-box>div>span:nth-child(7){
	width: 150px;
}
.table-box>div>span:nth-child(8){
	width: 350px;
}

/* user-login */

.login-container{
	margin-top: 10rem;
	margin-bottom: 15rem;
	height:500px;
}
.login-container>div{
	margin-bottom: 25px;
}
.sns-login{
	width:450px;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
}
.sns-login>div{
	height: 50px;
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #A9A9A9;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 15px;
	cursor:pointer;
	position: relative;
}
.sns-login>div:nth-child(1):hover{
	outline: 1px solid black;
}
.sns-login>div:nth-child(2):hover{
	background-color: #03c75a;
	color: #fff;
}
.sns-login>div:nth-child(3):hover{
	background-color: #4385f4;
	color: #fff;
}
.sns-login>div:first-child>img{
	width: 100%;
	height: 120%;
	position: absolute;
	left: -0.5rem;
}
.sns-login>div>span:first-child{
	width: 12%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sns-login>div>span:first-child>img{
	width: 120%;
	height: 120%;
}
.sns-login>div>span:last-child{
	width: 100%;
	text-align: center;
	font-weight: 600;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#kakaoLogin{
	background-color: #FEE500;
}
.title{
	font-size: 20px;
	margin-bottom: 7px;
}
#login-span{
	width: 100%;	
	height: 50px;
}
#login-btn{
	height: 100%;
	font-size: 20px;
}
.search-id-pwd{
	display: flex;
	gap:0.5rem;
}
.search-id, .search-pwd{
	cursor:pointer;
}
.search-modal{
	/* 아이디, 비밀번호찾기 모달 */
	position: relative;
	position:fixed;
	background-color:red;
	top:30%;
	left:50%;
	transform:translate(-50%, -30%);
	border:1px solid #1c1c1c;
	width:450px;
	display: none;
	flex-direction: column;
	align-items:center;
	padding-top: 1rem;
	background-color: #fff;
    box-shadow: 0 0 5px 3.5px rgba(0, 0, 0, .5);
}
.search-modal .close-btn{
	font-size:2rem;
	position: absolute;
	right:10px;
	top:10px;
	cursor: pointer;
}
#searchIdBtn, #searchPwdBtn{
	cursor: pointer;
}
.search-modal h2{
	margin: 0;
}
.search-modal>div:not(:nth-child(6)){
	width: 90%;
	height: 40px;
	display: flex;
	align-items: center;
}
.search-modal>div:nth-child(6){
	margin-top:1rem;
	width: 100%;
	height: 45px;
}
.search-modal div:nth-child(2),.search-modal div:nth-child(4){
	display: flex;
	justify-content: flex-start;
}
.search-modal input{
	width: 100%;
	height: 100%;
	border:1px solid #1c1c1c;
	box-sizing: border-box;
	padding-left:20px; 
}
.search-modal button{
	width: 100%;
	height: 100%;
	border:1px solid #1c1c1c;
	font-size:1.1rem;
	color:#fff;
	box-sizing: border-box;
	
	background-color: #1c1c1c;
}
/* login-fail-modal*/
.loginFail-background{
	/* 로그인 실패시 백그라운드 색상 변경 */
	position: relative;
	position: absolute;
	top:0;
	width: 100%;
	height:100%;
	z-index:5;
	background-color: rgba(0,0,0,0.75);
	display: none;
}
.loginFail-modal{
	position: relative;
	position: fixed;
	top:35%;
	left:50%;
	transform: translate(-50%, -35%);
	width: 450px;
	background-color: #fff;
	height: 230px;
	display: none;
	flex-direction: column; 
	align-items: center;
	justify-content: flex-end;
	outline:1px solid rgba(0, 0, 0, .2);
	box-sizing:border-box;
    box-shadow: 0 0 5px 3.5px rgba(0, 0, 0, .5);
}
.loginFail-modal>span:nth-child(1){
	/* x 버튼 */
	font-size:2rem;
	position: absolute;
	right:10px;
	top:10px;
	cursor: pointer;
}
.loginFail-modal>span:nth-child(2){
	/* 회원정보가 존재하지 않습니다. */
	font-size: 1.1rem;
	font-weight: 600px;
}
.loginFail-modal>span:nth-child(3){
	/* 확인 버튼 */
	margin-top: 4.5rem;
	width: 100%;
	height:50px;
}
.loginFail-modal>span:nth-child(3) button{
	width: 100%;
	height:100%;
	background-color: #1c1c1c;
	border: 1px solid #1c1c1c;
	color:#fff;
	font-size: 1.1rem;
	cursor: pointer;
	padding: 0;
}


/* user-detail 마이페이지 */
.detail-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 15rem;
	margin-bottom: 15rem;
}
.user-infomation{
	display: flex;
	flex-direction: column;
	width: 750px;
	
}
.user-infomation>div{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}
.user-infomation>div:nth-child(1)>div{
	display: flex;
	align-items: center;
}
.user-infomation>div:nth-child(1) i{
	margin-left: 0.3rem;
}
.user-infomation>div:nth-child(1) span{
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	color: #1c1c1c;
	font-weight: 700;
}
.user-infomation>div>span{
	display: flex;
	align-items: center;
}
.user-infomation>div:nth-child(2)>div{
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 30%;
	height: 100px;
	background-color: #1c1c1c;
	color: #fff;
	border-radius: 30px;
	gap: 1rem;
}
.user-infomation>div:nth-child(2)>div>span{
	font-size: 1.1rem;
	font-weight: 700;
	display: flex;
	align-items: center;
}
#p{
	font-size: 1.01rem;
	margin-left: 0.3rem;
}
.user-detail-top{
	width: 100%;
	background-color: aliceblue;
	font-size: 1.1rem;
	padding: 2rem;
	box-sizing: border-box;
}
.user-detail-top>div{
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}
.user-detail-mid{
	margin-top: 5rem;
	margin-bottom: 5rem;
	width: 1200px;
	height: 300px;
	display: flex;
	justify-content: space-between;
}
.user-package-reservation, .user-airplane-reservation{
	width: 49%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.user-package-reservation>:first-child, .user-airplane-reservation>:first-child{
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	font-weight: 600;
}

.user-detail-bottom{
	width: 1200px;
	height: 300px;
	display: flex;
	justify-content: space-between;
}
.user-wishlist, .user-inquiryHistory{
	width: 49%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.user-wishlist>:first-child, .user-inquiryHistory>:first-child{
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	font-weight: 600;
}

.my-list{
	width: 100%;
    height: 80%;
    display: flex;
    align-items: center;	
    justify-content: center;
	border: 1px solid #1c1c1c;
    box-sizing: border-box;
}
.list-items{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	padding: 30px 0 1rem 0;
	box-sizing: border-box;
}
.list-items>.fixed-title{
	/* 문의유형, 제목 고정 */
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
	background-color: #e5e5e5;
	display: flex;
	align-items: center;
	font-weight: 700;
}
.list-items>.qa-list{
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 1rem;
}
/* 내역 고정 메뉴 */
.inquiry-type{
	/* 문의유형 */
	width: 20%;
	height: 100%;
}
/* 문의 내역 */
.inquiry-title{
	/* 문의제목 */
	width: 65%;
	height: 100%;
}
.inquiry-title a{
	color : inherit;
}
.inquiry-answer{
	/* 문의답변 */
	width: 15%;
	height: 100%;
}
.inquiry-type,.inquiry-title, .inquiry-answer{
	display: flex;
	align-items: center;
	justify-content: center;
}
.answer-yes{
	/* 답변완료 글자색 */
	color: #1640D6;
	font-weight: 700;
}

/* package 내역*/
.packge-orderDate{
	/* 패키지 예약일자 */
	width: 30%;
	height: 100%;
}
.packge-name{
	/* 패키지 상품명 */
	width: 40%;
	height: 100%;
}
.packge-name a{
	color : inherit;
}
.packge-price{
	/* 패키지 가격 */
	width: 30%;
	height: 100%;
}
.packge-orderDate,.packge-name, .packge-price{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 관심상품 내역*/
.favvorite-name{
	/* 관심상품명 */
	width: 50%;
	height: 100%;
}
.favvorite-continent{
	/* 관심상품 지역 */
	width: 20%;
	height: 100%;
}
.favvorite-continent a{
	color : inherit;
}
.favvorite-price{
	/* 관심상품 가격 */
	width: 30%;
	height: 100%;
}
.favvorite-name,.favvorite-continent, .favvorite-price{
	display: flex;
	align-items: center;
	justify-content: center;
}
/* 항공권 내역*/
.ticket-date{
	/* 항공권 스케쥴 */
	width: 35%;
	height: 100%;
}
.ticket-arrival{
	/* 도착공항 */
	width: 25%;
	height: 100%;
}
.ticket-flighType{
	/* 항공유형 */
	width: 13%;
	height: 100%;
}
.ticket-arrival a{
	color : inherit;
}
.ticket-seatType{
	/* 좌석유형 */
	width: 17%;
	height: 100%;
}
.ticket-people{
	/* 티켓 인원수 */
	width: 10%;
	height: 100%;
}
.ticket-date,.ticket-arrival, .ticket-flighType, .ticket-seatType, .ticket-people{
	display: flex;
	align-items: center;
	justify-content: center;
}

.noHistory{
	/* 내역 없는경우 div */
	gap: 1rem;
	display: flex;
	font-size: 1.2rem;
}

.user-category{
	background-color: #1c1c1c;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	top: 100px;
	right: 0;
	padding: 0.5rem;
}
.user-category>div{
	width: 100px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.user-category>div>a{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap:0.5rem;
}
.user-category>div>a>span{
	color: #e1e1e1;
}



/* user-modify */
#block{
	display: block;
}
#hidden{
	display: none;
}
.update-btn{
	background-color: #fff;
}
.checked{
	background-color: black;
	color: #fff;	
}


#button-box{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction:row;
	justify-content: space-between;
}
#button-box>span{
	width: 47%;
	background-color: #fff;
}
#button-box>span>button, #button-box>span>a>button{
	width: 100%;
	height: 35px;
	cursor: pointer;
}
#button-box>span>button{
	border: none;
	background-color: black;
	color:#fff;
}
#button-box>span>a>button{
	border: 1px solid black;
	background-color: transparent;
}
#userDelete{
	color:black;
	font-size: 0.8rem;
	cursor: pointer;
}



/* userDelete-modal*/
.userDelete-background{
	/* 로그인 실패시 백그라운드 색상 변경 */
	position: relative;
	position: absolute;
	top:0;
	width: 100%;
	height:100%;
	z-index:5;
	background-color: rgba(0,0,0,0.75);
	display: none;
}
.userDelete-modal{
	position: relative;
	position: fixed;
	top:35%;
	left:50%;
	transform: translate(-50%, -35%);
	width: 450px;
	background-color: #fff;
	height: 230px;
	display: none;
	flex-direction: column; 
	align-items: center;
	justify-content: flex-end;
	outline:1px solid rgba(0, 0, 0, .2);
	box-sizing:border-box;
    box-shadow: 0 0 5px 3.5px rgba(0, 0, 0, .5);
}
.userDelete-modal>span:nth-child(1){
	/* x 버튼 */
	font-size:2rem;
	position: absolute;
	right:10px;
	top:10px;
	cursor: pointer;
}
.userDelete-modal>span:nth-child(2){
	/* LAND MARK를 탈퇴하시겠습니까? */
	font-size: 1.1rem;
	font-weight: 600px;
}
.userDelete-modal>span:nth-child(3){
	/* 확인 버튼 */
	margin-top: 4.5rem;
	width: 100%;
	height:50px;
}
.userDelete-modal>span:nth-child(3) button{
	width: 100%;
	height:100%;
	background-color: #1c1c1c;
	border: 1px solid #1c1c1c;
	color:#fff;
	font-size: 1.1rem;
	cursor: pointer;
	padding: 0;
}



/* 항공권 모달 */
.flight-ticket-modal-back{
    /* 로그인 실패시 백그라운드 색상 변경 */
    position: relative;
    position: absolute;
    top:0;
    width: 100%;
    height:100%;
    z-index:5;
    background-color: rgba(0,0,0,0.75);
    display: none;
}
.flight-ticket-modal{
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 680px;
    height: 280px;
    display: flex;
    
}
.section-left{
    width: 75%;
}

.section-right{
    width: 25%;
    border-left:1px dashed #B6BBC4;
    box-sizing: border-box;
}
.header-left, .header-right{
    height: 17%;
    background: dodgerblue;
    color:#fff;
    font-weight:700;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-left{
    border-top-left-radius: 15px;
}
.header-right{
    border-top-right-radius: 15px;
}
.body-left, .body-right{
    background: #fff;
}
.body-left{
    width: 100%;
    height: 83%;
    border-bottom-left-radius: 15px;
}
.body-left>:first-child{
    font-size: 80px;
    display: flex;
    color:dodgerblue;
    font-weight:bold;
    justify-content: space-around;
    align-items: center;
    height:75%;
}
.body-left>:last-child{
    letter-spacing:-0.2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
}
.body-left>:last-child>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
.body-left>:last-child>div>:first-child{
    color:dodgerblue;
    font-size: 10px;
}
.body-left>:last-child>div>:last-child{
    font-size: 14px;
    font-weight: 700;
}
.body-right{
    width: 100%;
    height: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 15px;
}
.body-right>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
.body-right>div>:first-child{
    font-size: 10px;
    color:dodgerblue;
}
.body-right>div>:last-child{
    font-size: 14px;
    font-weight: 700;
}
.fa-plane{
    color:#454545;
    font-size: 55px;
}
.fa-barcode{
    font-size: 25px;
}
.barcode{
    display: flex;
}