body {
	position: relative;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
}

.main-container {
	width: 1180px;
	min-width: 1200px;
	margin: 0 auto;
	padding-top: 65px;
	position: relative;
}

.main-top-head {
	text-align: center;
	font-size: 25px;
	line-height: 1.27;
	font-weight: 700;
	letter-spacing: -1.5px;
	width: 100%;
}