<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easyfestival.www.repository.MemberShipDAO">

	<insert id="saveGrade"
		parameterType="com.easyfestival.www.domain.MemberShipVO" >
		INSERT INTO membership (id, grade)
		VALUES (#{id},
		#{grade})
		ON DUPLICATE KEY UPDATE grade
		= #{grade}
	</insert>



	<insert id="savePoints"
		parameterType="com.easyfestival.www.domain.MemberShipVO">
		INSERT INTO membership (id, point, total_price)
		VALUES
		(#{id}, #{point},#{totalPrice})
		ON DUPLICATE KEY UPDATE point = point +
		#{point}, total_price = total_price + #{totalPrice}
	</insert>

	<select id="getmemberShip"
		resultType="com.easyfestival.www.domain.MemberShipVO">
		select * from membership where id = #{id}
	</select>

	<update id="UpdateMemberShip">
		UPDATE membership
		SET point = point - #{point}
		WHERE id
		= #{id}
	</update>




	<!-- 적립 포인트 취소 -->
	<update id="cancelPoints">
		UPDATE membership
		SET point = point + #{point}
		WHERE id
		= #{id}
	</update>


	<!-- 총 구매 금액 업데이트 -->
	<update id="updateTotalPurchase">
		UPDATE membership
		SET total_price = total_price -
		#{totalPrice}
		WHERE id = #{id}
	</update>

	<select id="getTotalPrice" resultType="long">
		SELECT total_price FROM
		membership where id = #{id}
	</select>


	<insert id="insertId">
		INSERT INTO membership (id)
		VALUES
		(#{id})
	</insert>

	<!-- 환불에 따른 포인트 조정 -->
	<update id="pointCancle">
		UPDATE membership
		SET point = point - #{point}
		WHERE id = #{id}
	</update>


</mapper>
